.container{
    font-size: 2rem;
    text-align: center;
}
button{
    font-size: 25px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    padding: 10px 25px;
    transition: backround-color 0.25s;
    cursor: pointer;
}
button:hover{
    background-color: rgb(245, 143, 143);
}
button:active{
    background-color: rgb(173, 113, 113);
}
input{
    text-align: center;
    font-size: 30px;
    max-width: 100px;
    padding: 7px;
    margin-left: 10px;
}
#result{
    margin: 24px;
}

#images img{
    width: 150px;
    margin: 7px;
}
